@import '../style/vars.scss';
@import "../style/App.scss";


.cad__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vh;
}

.cad__container-companies{
    display: grid;
    grid-template-columns: 0.5fr;



}

.cad__container-members-companies {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $lilacColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-weight: bold;
  text-align: center;

}

.cad__container-members-directions {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $violetColor;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}


.CompanySelect {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $violetColor;
    display: flex;
    align-items: center;
    
   
}
