@import '../../style/vars.scss';

.sp__container {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    margin        : 2em 20em 0 20em;

    font-family: $fontFamily;

    .sp__container-input {
        position: relative;
        width   : 150px;
        display : flex;

        input {
            width   : 100%;
            padding : 5px 0;
            overflow: visible;

            outline         : none;
            border          : none;
            border-radius   : 10px;
            background-color: transparent;

            font-size  : 20px;
            font-weight: 500;
            line-height: 24px;
            text-align : center;
            color      : rgb(0, 0, 0);
        }

        span {
            position        : absolute;
            margin          : 0 10px;
            width           : 90%;
            height          : 100%;
            background-color: $peachColor;
            z-index         : -1;
            border          : 1px solid $peachColor;
            border-radius   : 12px;
        }
    }






    .sp__container-result {
        display: flex;


        .sp__container-result-users {
            display: grid;


            .sp__container-result-users-user {
                width : 100%;
                margin: 5px;
                border: 1px solid black;
            }
        }
    }
}